@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateY(0)
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateY(-6px)
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateY(6px)
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateY(0)
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-6px)
  }
  20%, 40%, 60%, 80% {
    transform: translateY(6px)
  }
}




 
.table-row {
  display: table;
  table-layout: fixed;
}

.table-row [class^="col-"] {
  display: table-cell;
  float: none;
}
/*}*/

iframe {
  width: 100%;
  height: 100%;

  
}

@media (min-width:750px) {


  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px
  }
  iframe {
    height: 600px;
  }
}


@media (min-width:992px) {


  .left-box img {
    width: 100%;
    height: 100%;
  }
  .right-box img {
    width: 100%;
    height: 100%;
  }
  .equal-box img {
    width: 100%;
    height: 100%;
  }

  .gif-responsive {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

.col-centered {
  float: none;
  margin: 0 auto
}





h1, h2, h3, h5, h6 {
  font-family: 'Roboto';
}
h4 {
  font-family: 'Roboto';
  color: #5e5e5e;
  line-height: 160%
}
p, div {
  font-family: 'Roboto-Condensed';
  color: #848484
}


body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden
}
.nav-fixed-top {
    float: right;
  }

a {

  color: #1A1B2B;

}
/*a:link {
  color: #000000;
  background-color: transparent;
  text-decoration: none
}*/
a:hover {
  text-decoration: none;
  color: #829665;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}


.h1 em{
  color: #ffadad;;
}


.navbar-fixed-top {
  padding-top: 15px;
}



.pink {
color: black;
}


a:active {
text-decoration: none;
color: #EF4141;
}

a.socialmedia {
  text-decoration: none;
font-family: 'Lora', sans-serif;
font-size: 20px;
font-weight: 400;
}

.col-md-5 p{
 }


a.aboutme {
border-bottom: 3px solid;
  padding-bottom: 3px;
  border-color: #829665;
}


h1 {
  letter-spacing: 2px
}
p {
  line-height: 25px
}

.outer-paragraph {
  display: inline-block;
  position: relative;
  width: 100%;
}

.ohhello {
  z-index: 10;
  background: none;
  position: absolute;
  width: inherit;
}

.socialmedia {
  position: relative;
  word-spacing: 11px;
}

.photoofme {
  position: inherit;
  z-index: 0;
  vertical-align:bottom;
  width: inherit;
  min-width: 500px;
  opacity: 0.7;
}

#pic {
  width: 120%;
  height: 120%;
  padding-left: 100px;
  padding-top: 150px;
  max-width: 550px;
}
.intro-paragraph {
  display: inline-block;
  text-align: left;
  line-height: 90%;
  padding-right: 150px;
  width: 100%;
}
.intro-section {
  padding-top: 100px;
  padding-bottom: 100px;
  /*text-align: center;*/
  background: #f0f0f0;
  border: 0
}
.project-title {
  padding-top: 40px;
  border: 0
}
.project-title h1 {
  color: #EF4141;
  font-size: xx-large
}
.project-title h1:hover {
  opacity: 0.8;
  color: #ffadad;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}

.project-title a {
  text-decoration: none;
}
.header-section .intro-section h1:hover {
  color: #000000
}

.intro-section h1 {
  position:relative;
  width: 100%;
  font-family: 'Lora', sans-serif;
  font-weight: 100;
  line-height: 100%;
  font-size: 60px;
  letter-spacing: 6px;
  padding-bottom: 20px;
}


.portfolio-section h1 {
  text-align: left;
  width: 100%;
  font-family: 'Lora', sans-serif;
  font-weight: 100;
  line-height: 100%;
  font-size: 40px;
  letter-spacing: 6px;
  padding-bottom: 10px;
}


.grey {
  color: #3F3F3F;
}

.pink h1{
  color: #ffadad;
}

.intro-paragraph h2 {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 195%;
  color: #1A1B2B;
  padding-bottom: 20px
}





.box{
  padding: 0 5px 0 5px;

}

.header-section .intro-section h1 {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto
}
.intro-section p {
  color: #A8A8A8
}
.project-section {
  padding-top: 120px;
  text-align: center;
  background: #F9F9F9;
  border: 0
}






hr {
  position: relative;
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 5px solid #829665;
    margin: 1em 0;
    padding-bottom: 50px;
}



#preloader {
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white
}
#status {
  max-width: 3.5em;
  height: auto;
  position: absolute;
  left: 45%;
  top: 45%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -1em 0 0 -1em;
  opacity: 1;
  -webkit-animation: pulsate 0.7s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-name: pulsate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  moz-animation-name: pulsate;
  moz-animation-duration: 0.7s;
  moz-animation-iteration-count: infinite
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: opacity:1
  }
  50% {
    opacity: 0.1
  }
  100% {
    -webkit-transform: opacity:1
  }
}
@keyframes pulsate {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0.1
  }
  100% {
    opacity: 1
  }
}
.portfolio-details {
  text-align: center;
  background: white
}
.portfolio-section {
  padding: 50px 0;
  text-align: center;
  background: white
}
.about-section {
  height: 100%;
  padding-top: 100px;
  text-align: center;
  background: #fff
}
.footer-section {
  padding-top: 50px;
  text-align: center;
  background: #EFEDED;
}

.footer-section .row div * {
  color: black;
}

.portfolio {
  padding: 0px 0
}
.work {
  padding: 10px 0px 20px 0px;
  max-width: 1000px;
  margin: 0 auto
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 1000px;
  margin: 0px 0px 40px 0px;
  box-shadow: 5px 5px 5px #E5E5E5;
}
.portfolio-box .portfolio-box-caption {
  color: #fff;
  opacity: 0;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: left;
  margin-left: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-weight: 600;
  font-size: 14px
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 15px
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1
}
.minas-btn-default {
  opacity: 0.8;
  border-color: #ef4141;
  color: #ef4141;
  background-color: #fff
}
.minas-btn-default:hover {
  opacity: 0.8;
  border-color: #eda6a6;
  color: #ffadad;
  background-color: #fff;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
.btn-project {
  font-size: large;
  opacity: 0.8;
  border-color: #fff;
  color: #000;
  background-color: #fff
}
.btn-project:hover {
  opacity: 0.8;
  border-color: #fff;
  color: #a3a3a3;
  background-color: #fff;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
.btn-dark {
  border-radius: 0;
  color: #1a1b2b;
  background-color: rgba(0, 0, 0, 0.4)
}
.btn-dark:hover, .btn-dark:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7)
}
.portfoliobtn {

float: left;
  border: none;
  -webkit-animation: shake 13s linear 0s infinite alternate;
  animation: shake 13s linear 0s infinite alternate
}


.topportfoliobtn{
padding-top: 50px;
}
.index-btn-default {
  opacity: 0.8;
  border-color: #ef4141;
  color: #000000;
  background-color: transparent;
}
.index-btn-default:hover {
  opacity: 0.8;
  border-color: #eda6a6;
  color: #b7b7b7;
  background-color: transparent;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}

.awesomeicons-projects * {
  color: black;
  text-align: left;
}


.socialicons{
  padding-top: 10px;
  text-align: left;
}

.awesomeicons:hover {
  color: #ef4141;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
.glyphicon.glyphicon-menu-down {
  font-size: 25px
}
