@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateY(0)
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateY(-6px)
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateY(6px)
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateY(0)
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-6px)
  }
  20%, 40%, 60%, 80% {
    transform: translateY(6px)
  }
}

/*@media (min-width: 768px) {*/
.table-row {
  display: table;
  table-layout: fixed;
}

.table-row [class^="col-"] {
  display: table-cell;
  float: none;
}
/*}*/

iframe {
  width: 100%;
  height: 300px;
}

@media (min-width:768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px
  }
  iframe {
    height: 600px;
  }
}


@media (min-width:992px) {
  .left-box img {
    width: 100%;
    height: 360px;
  }
  .right-box img {
    width: 100%;
    height: 360px;
  }
  .equal-box img {
    width: 100%;
    height: 500px;
  }

  .gif-responsive {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

.col-centered {
  float: none;
  margin: 0 auto
}

h1, h2, h3, h5, h6 {
  font-family: 'Roboto';
}
h4 {
  font-family: 'Roboto';
  color: #5e5e5e;
  line-height: 160%
}
p, div {
  font-family: 'Roboto';
  color: #848484
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden
}
.navbar-default .navbar-brand {
  color: #A8A8A8
}
.navbar-default .navbar-brand a {
  color: red
}
.socialmedia {
  width: 200px
}
html {
  width: 100%;
  height: 100%
}
.nav.navbar-nav.navbar-right li a {
  color: #A8A8A8
}
.nav.navbar-nav.navbar-right li a:hover {
  color: #ef4141;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
a.nav-link:link {
  color: #000000;
  text-decoration: none
}
a.nav-link:visited {
  color: #ef4141;
  text-decoration: none
}
a.nav-link:hover {
  color: #ef4141;
  text-decoration: none
}
a.nav-link:active {
  color: #ef4141;
  text-decoration: none
}
a {
  text-decoration: none;
  color: #000000
}
/*a:link {
  color: #000000;
  background-color: transparent;
  text-decoration: none
}*/
a:hover {
  color: #ef4141;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
h1 {
  letter-spacing: 2px
}
p {
  line-height: 25px
}

.outer-paragraph {
  text-align: center;
}

.intro-paragraph {
  display: inline-block;
  text-align: left;
}
.intro-section {
  padding-top: 40px;
  text-align: center;
  background: #F9F9F9;
  border: 0
}
.project-title {
  padding-top: 40px;
  border: 0
}
.project-title h1 {
  color: #EF4141;
  font-size: xx-large
}
.project-title h1:hover {
  opacity: 0.8;
  color: #ffadad;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}

.project-title a {
  text-decoration: none
}
.header-section .intro-section h1:hover {
  color: #000000
}
.intro-section h1 {
  color: #EF4141;
  padding-bottom: 20px
}
.header-section .intro-section h1 {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto
}
.intro-section p {
  color: #A8A8A8
}
.project-section {
  padding-top: 120px;
  text-align: center;
  background: #F9F9F9;
  border: 0
}
hr {
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0
}
* {
  border-radius: 0 !important
}
#preloader {
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white
}
#status {
  max-width: 3.5em;
  height: auto;
  position: absolute;
  left: 45%;
  top: 45%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -1em 0 0 -1em;
  opacity: 1;
  -webkit-animation: pulsate 1.3s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-name: pulsate;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  moz-animation-name: pulsate;
  moz-animation-duration: 1.3s;
  moz-animation-iteration-count: infinite
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: opacity:1
  }
  50% {
    opacity: 0.1
  }
  100% {
    -webkit-transform: opacity:1
  }
}
@keyframes pulsate {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0.1
  }
  100% {
    opacity: 1
  }
}
.portfolio-details {
  text-align: center;
  background: white
}
.portfolio-section {
  padding: 50px 0;
  text-align: center;
  background: white
}
.about-section {
  height: 100%;
  padding-top: 100px;
  text-align: center;
  background: #fff
}
.footer-section {
  padding-top: 50px;
  text-align: center;
  background: #1a1b2b;
}

.footer-section .row div * {
  color: #fff;
}

.portfolio {
  padding: 0px 0
}
.work {
  padding: 10px 0px 20px 0px;
  max-width: 1000px;
  margin: 0 auto
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 1000px;
  margin: 0px 10px 40px 0px
}
.portfolio-box .portfolio-box-caption {
  color: #fff;
  opacity: 0;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: left;
  margin-left: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-weight: 600;
  font-size: 14px
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 15px
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1
}
.minas-btn-default {
  opacity: 0.8;
  border-color: #ef4141;
  color: #ef4141;
  background-color: #fff
}
.minas-btn-default:hover {
  opacity: 0.8;
  border-color: #eda6a6;
  color: #ffadad;
  background-color: #fff;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
.btn-project {
  font-size: large;
  opacity: 0.8;
  border-color: #fff;
  color: #000;
  background-color: #fff
}
.btn-project:hover {
  opacity: 0.8;
  border-color: #fff;
  color: #a3a3a3;
  background-color: #fff;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
.btn-dark {
  border-radius: 0;
  color: #1a1b2b;
  background-color: rgba(0, 0, 0, 0.4)
}
.btn-dark:hover, .btn-dark:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7)
}
.portfoliobtn {
  border: none;
  -webkit-animation: shake 13s linear 0s infinite alternate;
  animation: shake 13s linear 0s infinite alternate
}
.index-btn-default {
  opacity: 0.8;
  border-color: #ef4141;
  color: #000000;
  background-color: transparent;
}
.index-btn-default:hover {
  opacity: 0.8;
  border-color: #eda6a6;
  color: #b7b7b7;
  background-color: transparent;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}

.awesomeicons-projects * {
  color: #000;
}

.awesomeicons:hover {
  color: #ef4141;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
.glyphicon.glyphicon-menu-down {
  font-size: 25px
}
