@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateY(0)
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateY(-6px)
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateY(6px)
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateY(0)
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-6px)
  }
  20%, 40%, 60%, 80% {
    transform: translateY(6px)
  }
}




 
.table-row {
  display: table;
  table-layout: fixed;
}

.table-row [class^="col-"] {
  display: table-cell;
  float: none;
}
/*}*/

iframe {
  width: 100%;
  height: 100%;

  
}

@media (max-width:320px) {

.butt {
float: left;
  
}

h1 {
  font-size: 10px;
}



}


@media (min-width:768px) {

.container{
  width: 1200px;
}



  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 20px
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px
  }
  iframe {
    height: 600px;
  }


}


@media (min-width:992px) {
.talkbutton {
  display: block;
  position: relative;
  width: 100%;
}

.butt {

}



  .left-box img {
    width: 100%;
    height: 100%;
  }
  .right-box img {
    width: 100%;
    height: 100%;
  }
  .equal-box img {
    width: 100%;
    height: 100%;
  }

  .gif-responsive {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

.col-centered {
  float: none;
  margin: 0 auto
}



}


@media (min-width: 1200px) {
 
}


h1, h2, h3, h5, h6 {
  font-family: 'Roboto';
}
h4 {
  font-family: 'Roboto';
  color: #5e5e5e;
  line-height: 160%
}
p, div {
  font-family: 'Roboto-Condensed';
  color: #848484
}


body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden
}
.nav-fixed-top {
    float: right;
  }

h2 a {

   font-family: 'Lato';
   font-weight: 400;
  color: black;

}



h2 a:hover {
  text-decoration: none;
  color: #0C93EF;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}





.h1 em{
  color: #ffadad;;
}


.navbar-fixed-top {
  padding-top: 15px;
}



.pink {
color: black;
}

.circle {
  display: inline-block;
width: 20px;
  height: 20px;
  border: 2px solid #0C93EF;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  /* width and height can be anything, as long as they're equal */
}



.vertical {
  max-width: 100%;
font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 22px;
    position: absolute;
   right: 0;
    
} 

.vertical2{
font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 22px;
    position: absolute;
  float: left;
    -moz-transform: rotate(-90deg);  /* FF3.5+ */
    -o-transform: rotate(-90deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
} 

.toptext{
  font-size: 10px;



}






a.socialmedia {
  text-decoration: none;
font-family: 'Lato', sans-serif;
font-size: 20px;
font-weight: 400;
}

.col-md-5 p{
 }





a.aboutme {
border-bottom: 3px solid;
  border-color: #10C5E2;

}

.border {
  position: relative;
border-bottom: 3px solid;
  border-color: #10C5E2

;

}


.space {
  display: inline-block;
  padding-right: 20px;
}

.footertitles{
  width: 180px;
}




h1 {
  letter-spacing: 2px
}
p {
  line-height: 25px
}

.outer-paragraph {;
  position: relative;
  width: 100%;


}







.socialmedia {
  position: relative;
  word-spacing: 11px;
}

.photoofme {
  display: none;
  margin: 0 auto;
  position: absolute;
  z-index: 0;
  vertical-align:bottom;
  width: 400px;
  height: 30%;
  min-width: 430px;
  opacity: 0.5;
}

.circlemoving {
  margin: 0 auto;
  position: absolute;
  z-index: 0;
  vertical-align:bottom;
  width: 20px;
  min-width: 200px;
  opacity: 0.8;

}


.circlemoving2 {
  margin: 0 auto;
  position: absolute;
  z-index: 0;
  vertical-align:bottom;
  width: 300px;
  min-width: 200px;
  margin-top: 170px;
  margin-left: 900px;
  opacity: 0.6;
}

.circlemoving3 {
  margin: 0 auto;
  position: absolute;
  z-index: 0;
  vertical-align:bottom;
  width: 250px;
  min-width: 170px;
 margin-top: 340px;
 margin-left: 400px;
   opacity: 0.5;



}

.circlemoving4 {
  margin: 0 auto;
  position: absolute;
  z-index: 0;
  vertical-align:bottom;
  width: 240px;
  min-width: 150px;
 margin-top: 40px;
 margin-left: 620px;
   opacity: 0.3;



}


#pic {
  width: 110%;
  height: 110px;
  padding-left: 50px;
  max-width: 600px;
  opacity:0;
}



#pic2 {
  width: 80%;
  height: 110%;
  padding-left: 80px;
  padding-top: 30px;
  max-width: 600px;

}



#piccircle {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-top: 30px;
  max-width: 300px;
}
.intro-paragraph {

  text-align: left;
  line-height: 90%;

  width: 100%;

}


.footer-paragraph {
  display: inline-block;
  text-align: left;
  line-height: 90%;
  padding-right: 20px;
  width: 100%;
}
#intro1{
  padding-right: 60px;
}


.intro-section {
padding-bottom: 60px;
  /*text-align: center;*/
  background: #F9F9F9;

  border: 0
}
.project-title {
  padding-top: 40px;
  border: 0
}
.project-title h1 {
  color: #EF4141;
  font-size: xx-large
}
.project-title h1:hover {
  opacity: 0.8;
  color: #ffadad;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}

.project-title a {
  text-decoration: none;
}
.header-section .intro-section h1:hover {
  color: #000000
}

.intro-section h1 {
 
  text-align: left;
  position:relative;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 2px;
  color: black;
 
}


.portfolio-section h1 {
  text-align: left;
  width: 100%;
  font-family: 'Lora', sans-serif;
  font-weight: 100;
  line-height: 100%;
  font-size: 40px;
  letter-spacing: 6px;
  padding-bottom: 10px;
}


.grey {
  color: #3F3F3F;
}

.pink h1{
  color: #ffadad;
}

.talkbutton {
  display: block;
  position: relative;
  margin: 0px auto;
}

.butt {
display: block;
    position: relative;
   padding: 5px 15px 5px 15px;
   background-color: #0C93EF;
   height:30%;
   width:40%;
   cursor:pointer;
}



.butt:hover {
   background-color: #f0f0f0;
  
}






.intro-paragraph h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 195%;
  color: #000000;
  padding-bottom: 100px
}






.portfoliobtn h2 {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 195%;
  color: #1A1B2B;
  padding-bottom: 20px
}


.verticaltextright h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 195%;
  color: #1A1B2B;
  padding-bottom: 20px
}


.toptext h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 195%;
  color: #1A1B2B;
  padding-bottom: 20px
}


.footer-paragraph h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 195%;
  color: #000000;
  padding-bottom: 20px
}

.hover-up {
    top: 0px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hover-up:hover {
    top: -20px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}



.box{
  padding: 0 5px 0 5px;

}

.header-section .intro-section h1 {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto
}
.intro-section p {
  color: #A8A8A8
}
.project-section {
  padding-top: 120px;
  text-align: center;
  background: #F9F9F9;
  border: 0
}

.profilepic{
display: none;
}

.profilepic img{

position: absolute;
width: 70%;
height: auto;
left: 65rem;
top: -5rem;
 z-index: 10;




}

.box-shadow {
    box-shadow: 0 10px 22px rgba(0,0,0,.08);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0px!important;
}

.box-shadow:hover {
    box-shadow: 0px 16px 22px 2px rgba(51,51,51,0.2);
}


a:hover>.profilepic{
display: block;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

}


a.name {
  color: black;
  border-bottom: 3px solid;
  border-color: #10C5E2;

}


h1 a:hover {
  text-decoration: none;
  color: #0C93EF;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}




hr {
  position: relative;
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 5px solid #829665;
    margin: 1em 0;
    padding-bottom: 50px;
}



#preloader {
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white
}
#status {
  max-width: 3.5em;
  height: auto;
  position: absolute;
  left: 45%;
  top: 45%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -1em 0 0 -1em;
  opacity: 1;
  -webkit-animation: pulsate 0.7s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-name: pulsate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  moz-animation-name: pulsate;
  moz-animation-duration: 0.7s;
  moz-animation-iteration-count: infinite
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: opacity:1
  }
  50% {
    opacity: 0.1
  }
  100% {
    -webkit-transform: opacity:1
  }
}
@keyframes pulsate {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0.1
  }
  100% {
    opacity: 1
  }
}

video {
    display: inline-block;
    vertical-align: baseline;
}
.portfolio-details {
  text-align: center;
  background: white
}
.portfolio-section {
  padding: 50px 0;
  text-align: center;
  background: #F9F9F9;
}
.about-section {
  height: 100%;
  padding-top: 100px;
  text-align: center;
  background: #fff
}
.footer-section {
  padding-top: 50px;
  text-align: center;
  background: #F9F9F9;
}

.footer-section .row div * {
  color: black;
}

.portfolio {
  padding: 0px 0
}
.work {
  padding: 10px 0px 20px 0px;
  max-width: 1000px;
  margin: 0 auto
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 1000px;
  margin: 0px 0px 40px 0px;
  box-shadow: 0px 0px 0px #E5E5E5;
}
.portfolio-box .portfolio-box-caption {
  color: #fff;
  opacity: 0;
  display: block;
background: rgba(255,255,255,0.95);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: left;
  margin-left: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Heebo', 'Helvetica Neue', Arial, sans-serif
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-weight: 600;
  font-size: 16px
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 25px;
  font-family 'Heebo';
  font-weight: 700;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 0.5
}
.minas-btn-default {
  opacity: 0.8;
  border-color: #ef4141;
  color: #ef4141;
  background-color: #fff
}
.minas-btn-default:hover {
  opacity: 0.8;
  border-color: #eda6a6;
  color: #ffadad;
  background-color: #fff;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
.btn-project {
  font-size: large;
  opacity: 0.8;
  border-color: #fff;
  color: #000;
  background-color: #fff
}
.btn-project:hover {
  opacity: 0.8;
  border-color: #fff;
  color: #a3a3a3;
  background-color: #fff;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
.btn-dark {
  border-radius: 0;
  color: #1a1b2b;
  background-color: rgba(0, 0, 0, 0.4)
}
.btn-dark:hover, .btn-dark:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7)
}


.portfoliobtn {
color:#10C5E2;

float: left;
  border: none;
  -webkit-animation: shake 13s linear 0s infinite alternate;
  animation: shake 13s linear 0s infinite alternate
} 
}
}

.portfoliobtn2 {
color:#10C5E2

;
 margin-left: 0;
 margin-right: 0;
 margin-top: 20px;
float: left;
  border: none;
  -webkit-animation: shake 13s linear 0s infinite alternate;
  animation: shake 13s linear 0s infinite alternate
}


.portfoliobtn:hover {

color: black;

}



.topportfoliobtn{
padding-top: 50px;
}
.index-btn-default {
  opacity: 0.8;
  border-color: #ef4141;
  color: #000000;
  background-color: transparent;
}
.index-btn-default:hover {
  opacity: 0.8;
  border-color: #eda6a6;
  color: #b7b7b7;
  background-color: transparent;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}

.awesomeicons-projects * {
  color: black;
  text-align: left;
}


.socialicons{
  padding-top: 10px;
  text-align: left;
}

.awesomeicons:hover {
  color: #ef4141;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
.glyphicon.glyphicon-menu-down {
  font-size: 25px
}
