@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateY(0)
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateY(-6px)
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateY(6px)
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateY(0)
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-6px)
  }
  20%, 40%, 60%, 80% {
    transform: translateY(6px)
  }
}


a:visited, a:link {
  text-decoration: none !important;
  outline: 0;
}


 
.table-row {
  display: table;
  table-layout: fixed;
}

.table-row [class^="col-"] {
  display: table-cell;
  float: none;
}
/*}*/

iframe {
  width: 100%;
  height: 100%;

  
}



}




h1, h2, h3, h5, h6 {
  font-family: 'Roboto';
}
h4 {
  font-family: 'Roboto';
  color: #5e5e5e;
  line-height: 160%
}
p, div {
  font-family: 'Roboto-Condensed';
  color: #848484;
}


.box-shadow div {
   line-height: 0;
}


body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden
}

h2 a {

   font-family: 'Lato';
   font-weight: 400;
  color: black;

}



h2 a:hover {
  text-decoration: none;
  color: #0C93EF;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}






.h1 em{
  color: #ffadad;;
}






li {
  display:inline-block;
}



.pink {
color: black;
}

.circle {
  display: inline-block;
width: 20px;
  height: 20px;
  border: 2px solid #0C93EF;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  /* width and height can be anything, as long as they're equal */
}



.vertical {
  max-width: 100%;
font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 22px;
    position: absolute;
   right: 0;
    
} 

.vertical2{
font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 22px;
    position: absolute;
  float: left;
    -moz-transform: rotate(-90deg);  /* FF3.5+ */
    -o-transform: rotate(-90deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
} 

.toptext{
  font-size: 10px;
}

.down-arrow {
  width: 100px;
  height: 40px;
}

a.highlight {
  position:relative;
  text-decoration: none;
    color: #333;
}

.highlight:before{
  width:100%;
  height:10px;
  position:absolute;
  left:0px;
  bottom:-4px;
  content:"";
  display:block;
  background-color: #B3ECF2;
  z-index:-1;
  opacity: 1;
  -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

a.highlight:hover{
  color: inherit !important;
}

a.highlight:hover:before {
  color: #B3ECF2;
  background-color: #B3ECF2;
    height:25px;
}






.fa{
  color: grey;
  padding-right: 10px;

}


a.socialmedia {
  text-decoration: none;
font-family: 'Lato', sans-serif;
font-size: 15px;
font-weight: 200;
}



a.socialmedia {
border-bottom: 1px solid;
  border-color: #10C5E2;

}



a.aboutme {
border-bottom: 2px solid;
  border-color: #10C5E2;

}

.border {
  position: relative;
border-bottom: 3px solid;
  border-color: #10C5E2

;

}


.space {
  display: inline-block;
  padding-right: 20px;
}

.footertitles{
  width: 180px;
}




h1 {
  letter-spacing: 2px
}
p {
  line-height: 25px
}

.outer-paragraph {
  width: 100%;


}




.fa {
  display: inline-block;
 
}

.photoofme {
  display: none;
  margin: 0 auto;
  position: absolute;
  vertical-align:bottom;
  width: 200px;
  height: 30%;
  min-width: 430px;
  opacity: 1;
}


.circlemoving3 {
  margin: 0 auto;
  position: absolute;
  z-index: -2;
  vertical-align:bottom;
  width: 250px;
   opacity: 1;
}



.circlemoving4 {
  margin: 0 auto;
  position: absolute;
  z-index: 0;
  vertical-align:bottom;
  width: 440px;
  min-width: 150px;
 margin-top: 40px;
 margin-left: 620px;
   opacity: 0.3;

}




#pic {
width: 250px;
  margin-top: -200px;
  margin-left: 300px;
  border:none;

}

#nav{

}



#pic2 {
  margin-left: 180px;
  height: 250px;
  margin-top: -180px;
  margin-left: 350px;


}


#piccircle {
  width: 100%;
  height: 100%;
  padding-left: 300px;
  padding-top: 300px;
  max-width: 300px;
}

.intro-paragraph {
    position: relative;
  z-index:1;
  padding-top: 10%;
  text-align: left;
  line-height: 90%;
  width: 100%;
}


#delaytxt1{
   -webkit-animation-delay: 300ms;
    -moz-animation-delay: none;
    animation-delay: 300ms;
}



.footer-paragraph {
  display: inline-block;
  text-align: left;
  line-height: 90%;
  padding-right: 20px;
  width: 100%;
}

.footer-paragraph2 {
  display: inline-block;
  text-align: center;
  line-height: 90%;
  padding-right: 20px;
  width: 100%;
}

#intro1{
  padding-right: 60px;
}


.intro-section {
padding-bottom: 15%;
  /*text-align: center;*/
  background: #FFFFFF;

  border: 0
}
.project-title {
  padding-top: 40px;
  border: 0
}
.project-title h1 {
  color: #EF4141;
  font-size: xx-large
}
.project-title h1:hover {
  opacity: 0.8;
  color: #ffadad;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}

.project-title a {
  text-decoration: none;
}
.header-section .intro-section h1:hover {
  color: #000000
}

.intro-section h1 {
   line-height: 50px;
  text-align: left;
  position:relative;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 2px;
  color: black;
}


.portfolio-section h1 {
  text-align: left;
  width: 100%;
  font-family: 'Lora', sans-serif;
  font-weight: 100;
  line-height: 100%;
  font-size: 40px;
  letter-spacing: 6px;
  padding-bottom: 10px;
}


.typing {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  display: inline-block;
  color: #10C5E2;
}

.grey {
  color: #3F3F3F;
}

.pink h1{
  color: #ffadad;
}

.talkbutton {
  display: block;
  position: relative;
  margin: 0px auto;
}

.butt {
display: block;
    position: relative;
   padding: 5px 15px 5px 15px;
   background-color: #0C93EF;
   height:30%;
   width:40%;
   cursor:pointer;
}

.fixed {
    position: fixed;
}


.butt:hover {
   background-color: #f0f0f0;
  
}

.page-banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('img/pkg.jpg');
}

.pad-m {
    margin-bottom: 120px;
}

.portfolio-section h2 {
    font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  float: left;
  padding-bottom: 100px;
  color: black;
}


nav h2{
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 15px;
 line-height: 120%;
  color: #000000;

  border-bottom: 1px solid;
  border-color: #10C5E2;
}

nav a:hover {
  text-decoration: none;
  color: #0C93EF;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}




li {
    padding-right: 40px;
}


.intro-paragraph h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 195%;
  color: #000000;
  padding-bottom: 18px;
}

.scroll-bottom {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 1px;
}



#herro{
   font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: #00AEEF;
 
}

.project h2 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 195%;
  color: #000000;
  padding-bottom: 18px
}





.portfoliobtn h2 {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 195%;
  color: #1A1B2B;
  padding-bottom: 20px
}


.verticaltextright h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 195%;
  color: #1A1B2B;
  padding-bottom: 20px
}


.toptext h2 {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 195%;
  color: #1A1B2B;
  padding-bottom: 20px;
  padding-right: 50px;


}

.toptextright h2 {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 195%;
  color: #1A1B2B;
  padding-bottom: 20px;
  padding-right: 50px;

}


.footer-paragraph h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 195%;
  color: #000000;
  padding-bottom: 20px
}

.footer-paragraph2 h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 195%;
  color: #000000;
  padding-bottom: 20px
}




.hover-up {
    top: -20px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hover-up:hover {
    top: -30px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}



.box{
  padding: 0 5px 0 5px;

}

.header-section .intro-section h1 {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto


}
.intro-section p {
  color: #A8A8A8
}
.project-section {
  padding-top: 120px;
  text-align: center;
  background: #F9F9F9;
  border: 0
}

.profilepic{
display: none;

}

.profilepic img{
position: absolute;
width: 30%;
height: auto;
left: 30rem;
top: -10rem;
 transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}


.box-shadow {
    box-shadow: 0 10px 22px rgba(0,0,0,.08);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-bottom: -10px;
}

.box-shadow:hover {
    box-shadow: 0px 16px 22px 2px rgba(51,51,51,0.2);
}


a:hover>.profilepic{
display: block;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

}


.name {
  color: black;
  border-bottom: 3px solid;
  border-color: #10C5E2;

}


h1 a:hover {
  text-decoration: none;
  color: #0C93EF;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}




hr {
  position: relative;
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 5px solid #829665;
    margin: 1em 0;
    padding-bottom: 50px;
}



#preloader {
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white
}
#status {
  max-width: 3.5em;
  height: auto;
  position: absolute;
  left: 45%;
  top: 45%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -1em 0 0 -1em;
  opacity: 1;
  -webkit-animation: pulsate 0.7s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-name: pulsate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  moz-animation-name: pulsate;
  moz-animation-duration: 0.7s;
  moz-animation-iteration-count: infinite
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: opacity:1
  }
  50% {
    opacity: 0.1
  }
  100% {
    -webkit-transform: opacity:1
  }
}
@keyframes pulsate {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0.1
  }
  100% {
    opacity: 1
  }
}

.soon {
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  font-size: 60px;
  text-align: left;
  padding-bottom: 30px;
  opacity: 1;
}

video {
    display: inline-block;
    vertical-align: baseline;
}
.portfolio-details {
  text-align: center;
  background: white
}
.portfolio-section {
  padding: 50px 0;
  text-align: center;
  background: #FFFFFF;
}
.about-section {
  height: 100%;
  padding-top: 100px;
  text-align: center;
  background: #fff
}
.footer-section {
  padding-top: 50px;
  text-align: center;
  background: #F7F7F7;
}

.footer-section .row div * {
  color: black;
}

.work {
  padding: 10px 0px 20px 0px;
  max-width: 1000px;
  margin: 0 auto
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 1000px;
  margin: 0px 0px 60px 0px;
  box-shadow: 0px 0px 0px #E5E5E5;
  margin-top:10px;
  padding-bottom:-10px;
}
.portfolio-box .portfolio-box-caption {
  color: #000000;
  opacity: 0;
  display: block;
background: rgba(255,255,255,0.95);
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: left;
 left: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  padding-bottom: 30px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
 
  font-size: 16px;
   color: #000000;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 35px;
  font-family 'Lato';
  font-weight: 500;
  color: #000000;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 0.8;
}
.minas-btn-default {
  opacity: 0.9;
  border-color: #ef4141;
  color: #ef4141;
  background-color: #fff
}
.minas-btn-default:hover {
  opacity: 0.8;
  border-color: #eda6a6;
  color: #ffadad;
  background-color: #fff;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
.btn-project {
  font-size: large;
  opacity: 0.8;
  border-color: #fff;
  color: #000;
  background-color: #fff
}
.btn-project:hover {
  opacity: 0.8;
  border-color: #fff;
  color: #a3a3a3;
  background-color: #fff;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
.btn-dark {
  border-radius: 0;
  color: #1a1b2b;
  background-color: rgba(0, 0, 0, 0.4)
}
.btn-dark:hover, .btn-dark:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7)
}


.portfoliobtn {
color:#10C5E2;

float: left;
  border: none;
  -webkit-animation: shake 13s linear 0s infinite alternate;
  animation: shake 13s linear 0s infinite alternate
} 
}
}

.portfoliobtn2 {
color:#10C5E2

;
 margin-left: 0;
 margin-right: 0;
 margin-top: 20px;
float: left;
  border: none;
  -webkit-animation: shake 13s linear 0s infinite alternate;
  animation: shake 13s linear 0s infinite alternate
}


.portfoliobtn:hover {

color: black;

}



.topportfoliobtn{
padding-top: 50px;
}
.index-btn-default {
  opacity: 0.8;
  border-color: #ef4141;
  color: #000000;
  background-color: transparent;
}
.index-btn-default:hover {
  opacity: 0.8;
  border-color: #eda6a6;
  color: #b7b7b7;
  background-color: transparent;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}

.awesomeicons-projects * {
  color: black;
  text-align: left;
}


.socialicons{
  padding-top: 10px;
  text-align: left;
}

.awesomeicons:hover {
  color: #ef4141;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  transition: all .55s
}
.glyphicon.glyphicon-menu-down {
  font-size: 25px
}
