
::selection{
  background: black;
}

.resolution {

	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	height: 1000%;
	background-color: black;
	overflow: hidden;
	z-index: 9999;
	display: none;
}


.resolutiontext {
	position: fixed;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	width: 200px;
	height: 100px;
	text-align: center;
	font-family: 'droidserif', DroidSerif-BoldItalic, georgia, serif;
	color: white;
	font-size: 16px;
	text-decoration: none;
}

@media screen and (max-width: 1120px) {
    .resolution {
        display: block;
    }
}
width: 393px;
} 